{% extends "main.html" %}
{% load static %}

{% block common %}

<div class="listing-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="first-thumb active">
                        <a href="#first_content">
                      <div class="thumb">
                        <span class="icon"><img src="assets/images/search-icon-01.png" alt=""></span>
                        Registerd Courses
                      </div>
                      </a>
                    </div>
                    <div>
                        <a href="#second_content">
                      <div class="thumb">
                        <span class="icon"><img src="assets/images/search-icon-02.png" alt=""></span>
                        Enrolled &amp; Paid Courses
                      </div>
                        </a>
                    </div>
                    <div>
                        <a href="#third_content">
                      <div class="thumb">
                        <span class="icon"><img src="assets/images/search-icon-03.png" alt=""></span>
                        Course Certivificates
                      </div>
                        </a>
                    </div>
                    <div class="last-thumb">
                        <a href="#four_content">
                      <div class="thumb">
                        <span class="icon"><img src="assets/images/search-icon-04.png" alt=""></span>
                        History
                      </div>
                        </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                  <!-- first category listing of items -->
                    <li class="active">
                      <div>
                        <div class="col-lg-12">
                          <div>
                            <div class="item">
                              <div class="row">
                                  {% for i in registerd_courses %}
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ i.course.image1.url }}" alt="" style="width: 300px;"></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i>Enroll</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center" id="first_content">
                                      <a href="#">
                                          <h4>{{ i.course.name }}</h4>
                                      </a>
                                      <h6>Faculty : {{ i.course.faculty_name }}</h6>
                                      <span class="price"><div class="icon">
                                          <img src="assets/images/listing-icon-01.png" alt="">
                                      </div> {{ i.price }}</span>
                                      <span class="details">Start Date: <em>{{ i.course.start_date }}</em></span>
                                      <span class="info"><img src="{{ i.course.image1.url }}" alt="">Duration : days({{ i.course.duration_days }})<br>
                                        <img src="assets/images/listing-icon-03.png" alt=""> timing : {{ i.course.start_timing }}</span>
                                    </div>
                                  </div>
                                </div>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- second category listing of items -->
                    <li>
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                {% for i in paid_enrolled_courses %}
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ i.course.image1.url }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i>get certivificate</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center" id="second_content">
                                      <a href="#"><h4>{{ i.course.name }}</h4></a>
                                      <h6>{{ i.course.payment_type }}</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div>paid : {{ i.pay_price }}</span>
                                      <span class="details">Payment Id: <em>{{ i.payment_id }}</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt="">Paid Slip<br><img src="assets/images/listing-icon-03.png" alt="">Discount : {{ i.discount }}</span>
                                    </div>
                                  </div>
                                </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>














                    <!-- third category first page -->
                    <li>
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-05.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center" id="third_content">
                                      <a href="#"><h4>Third Category First Page</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $750 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-04.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Car Item 2</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $880 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-03.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Car Item 3</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $770 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- third category second page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-01.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Third Category Second Page</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $660 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-02.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Car Item 5</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $550 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-06.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Car Item 6</h4></a>
                                      <h6>by: Sale Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $440 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- third category third page -->
                            <!-- NONE -->


                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- 4th category 1st page -->
                    <li>
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-06.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center" id="four_content">
                                      <a href="#"><h4>Traveling Item 1</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $400 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-04.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Traveling Item 2</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $500 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-03.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Traveling Item 3</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $342 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- 4th category 2nd page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-05.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>4th Category 2nd Page</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $268 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-06.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Traveling Item 5</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $145 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-03.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Traveling Item 6</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $240 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- 4th category 3rd page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="assets/images/listing-06.jpg" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="contact.html"><i class="fa fa-eye"></i> Contact Now</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>4th Category 3rd Page</h4></a>
                                      <h6>by: Travel Agent</h6>
                                      <span class="price"><div class="icon"><img src="assets/images/listing-icon-01.png" alt=""></div> $360 / month included tax</span>
                                      <span class="details">Details: <em>860 sq ft</em></span>
                                      <span class="info"><img src="assets/images/listing-icon-02.png" alt=""> 2 Bedrooms<br><img src="assets/images/listing-icon-03.png" alt=""> 3 Bathrooms</span>
                                    </div>
                                  </div>
                                </div>


                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>


                  </ul>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}